@import-normalize;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  vertical-align: middle;
  width: 100%;
}
input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}
