.addons-chkbox input[type="checkbox"] {
    width: 0;
    height: 0;

}

.checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #E1E0E5;
    border-radius: 4px;

}

.checkbox::after {
    position: absolute;
    top: 2px;
    left: 7px;
    transform: rotate(45deg);
    content: "";
    width: 3px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    opacity: 0;
    transition: opacity 0.4s ease-out;

}

.addons-chkbox input[type="checkbox"]:checked~.checkbox {
    background-color: var(--purplish-blue);
    border-color: var(--purplish-blue);
}

.addons-chkbox input[type="checkbox"]:checked~.checkbox::after {
    opacity: 1;

}